.searchbar {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background-color: #3f51b5;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.searchForm {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 4px 7px 4px rgba(0, 0, 0, 0.8);
}

.searchFormButton {
    cursor: pointer;
    width: 180px;
    height: 40px;
    border-color: rgba(45, 20, 187, .698);
    border-radius: 3px;
    margin-right: 20px;
    padding: 8px 12px;
}

.searchFormButton:hover {
    opacity: 1;
}

.searchFormLabel {
    font-size: 16px;
    color: rgba(45, 20, 187, .698);
}

.searchFormInput {
    display: inline-block;
    width: 100%;
    font: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 4px;
    padding-right: 4px;
}

.searchFormInput::placeholder {
    font: inherit;
    font-size: 18px;
}